.plan-card-section{
    border-radius: 15px;
}
.plan-card{
    box-shadow:3px 5px gray;
    border-radius: 15px;
    transition: transform .7s;
}
.plan-card:hover{
    transform: scale(1.05);
}
.plan-card img{
    border-radius: 10px;
}