.facilities{
    background-color: antiquewhite;
}
.facility-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}