.banner-section{
    background: url('https://i.ibb.co/1LZ9ry9/banner.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.banner-content{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(214, 234, 241);
  
}
.banner-content h1{
    font-size: 55px;
   text-align: center;
}